header{
    background-color: rgb(1, 92, 1);
    
}
nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.logo {
    font-size: 50px;
    color: white;
    font-family: "Acme", sans-serif;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    color: white;
}


nav, .nav-links {
    display: flex;
    color: white;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-decoration-color: white;
    font-family: "Acme", sans-serif;
}
.navbar-list li a:hover {
    background-color: aliceblue;
    color: red;
}
.log{
    width: 150px;
}
body{
    padding;0 ;
    margin: 0;
}
 /* Estilo para o rodapé */
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  /* Estilo para o link da imagem */
  .github-link img {
    width: 30px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-left: 10px; /* Espaço à esquerda da imagem */
    vertical-align: middle;
  }

  /* Estilo para o link do GitHub */
  .github-link a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  /* Estilo para o hover do link do GitHub */
  .github-link a:hover {
    text-decoration: underline;
  }
