


header{
    background-color: rgb(1, 92, 1);
        padding: 0 20px;
    margin:0;

}
nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.logo {
    font-size: 50px;
    color: white;
    font-family: "Acme", sans-serif;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    color: white;
}


nav, .nav-links {
    display: flex;
    color: white;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-decoration-color: white;
    font-family: "Acme", sans-serif;
}
.navbar-list li a:hover {
    background-color: aliceblue;
    color: red;
}
.log{
    width: 150px;
}

 .carousel-container {
    position: relative;
    width: 80%;
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
}
.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%; /* 100% para cada imagem, 3 imagens = 300% */
}
.carousel-slide img {
    width: 33.33%; /* Cada imagem ocupa 1/3 do contêiner */
    height: auto;
    display: block;
}
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 18px;
    border-radius: 50%;
}
.carousel-button.left {
    left: 10px;
}
.carousel-button.right {
    right: 10px;
}

h1{
    font-family: "Acme", sans-serif; 
}
.texto{
    font-family:"Acme", sans-serif; 
    font-size: 25px;
    margin: 400px;
}

footer {
    background-color: rgb(1, 92, 1);
    text-align: center;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.social-icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 0.5rem;
}

.icon {
    width: 30px;
    height: 30px;
  
}
.rodape{
    color: white;
}



