



/* Estilos gerais */
body {
    padding: 0;
    margin: 0;
    flex-wrap: wrap; 
    overflow: auto;
}

/* Cabeçalho */
header {
    background-color: rgb(1, 92, 1);
    padding: 0 20px;
    margin: 0;
}

nav {
    justify-content: space-between;
    align-items: center;
    height: 17vh;
    display: flex;
    flex-wrap: wrap; /* Para garantir que os itens se ajustem em telas menores */
}

.logo {
    font-size: 30px;
    color: white;
    font-family: "Acme", sans-serif;
    position: relative;
    right: 600px;
}



a {
    color: white;
    text-decoration: none;
    font-family: "Acme", sans-serif;
}

.log {
    width: 100px;
    height: auto;
}

/* Carrossel */
.carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 500px;
    overflow:hidden;
    border-radius: 10px;
}

.contanier {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

img {
    width: 1000px;
    height:500px;
    object-fit: cover;
}


/* Texto */
h1 {
    font-family: "Acme", sans-serif;
    text-align: center;
    margin: 20px;
}
p{
      font-family: "Acme", sans-serif;
}
.texto {
    font-family: "Acme", sans-serif;
    font-size: 18px;
    margin: 150px;
    text-align: justify;
}

/* Rodapé */
footer {
    background-color: rgb(1, 92, 1);
    text-align: center;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 0.5rem;
}

.icon {
    width: 30px;
    height: 30px;
}

.rodape {
    color: white;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .logo {
        font-size: 24px;
    }

    .nav-links {
        font-size: 1.2rem;
    }

    .carousel-container {
        height: auto;
    }

    .texto {
        font-size: 16px;
        margin: 10px;
    }
}

.tradicao{
    width:500px;
    height:500px;
}
.materia{
    display: flex;
    flex-direction:row;
    gap: 210px;
    margin: 60px;

}

.comida{
     width:500px;
    height:500px;
 
}
.descricao{
    display: flex;
    flex-direction:row;
    gap: 200px;
    font-size:20px ;
    margin: 60px;
    position: relative;
    bottom: 50px;
}
.botao1{
    background-color: #4CAF50; /* Cor de fundo */
color: white; /* Cor do texto */
padding: 10px 20px; /* Espaçamento interno */
border: none; /* Remove a borda padrão */
border-radius: 5px; /* Borda arredondada */
cursor: pointer; /* Cursor ao passar por cima */
position: relative;
left: 20%; 
/* Centraliza o texto */
text-decoration: none; /* Remove sublinhado */
display: inline-block; /* Exibe como bloco inline */
font-size: 16px; /* Tamanho da fonte */
transition-duration: 0.4s; /* Duração da transição */
box-shadow: 0px 8px 16px rgba(0,0,0,0.2); /* Sombra */
}
