
 {
    margin: 0;
    padding: 0px;
    }

    
    body {
    padding: 0;
    margin: 0;
    font-family: "Acme", sans-serif;
    background-image: url('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color:	#F5DEB3;
}




header {
    background-color: rgb(1, 92, 1);
    padding: 0 20px;
}



.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 50px;
    color: white;
    font-family: "Acme", sans-serif;
    }
    
    




a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Acme", sans-serif;
}

.navbar-list li a:hover {
    background-color: aliceblue;
    color: red;
}

.log {
    width: 150px;
}

.main-title {
    text-align: center;
    margin: 20px 0;
    font-size: 1.5rem; 
    font-family: "Lobster", cursive;
}

.content-section {
    text-align: center;
    margin: 20px;
}

.content-subtitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: "Acme", sans-serif;
}

.content-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0 auto 20px;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 15px; 
}

.content-text {
    font-size: 1.2rem;
    margin: 0 auto;
    max-width: 800px;
    text-align: justify; 
    line-height: 1.6; 
    font-family: "Acme", sans-serif;
}

footer {
    background-color: rgb(1, 92, 1);
    text-align: center;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.social-icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 0.5rem;
}

.icon {
    width: 30px;
    height: 30px;
}

.container {
    text-align: center; 
    margin-top: 20px; 
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto; 
}

.comidaSlides {
    display: none;
    width: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 15px; 
}

img {
    vertical-align: middle;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 15px; 
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.footer-container {
    flex-shrink: 0;
    margin: 0%;
    padding: 0%;
}
.botao12{
background-color: #4CAF50; /* Cor de fundo */
color: white; /* Cor do texto */
padding: 10px 20px; /* Espaçamento interno */
border: none; /* Remove a borda padrão */
border-radius: 5px; /* Borda arredondada */
cursor: pointer; /* Cursor ao passar por cima */
text-align: center; /* Centraliza o texto */
text-decoration: none; /* Remove sublinhado */
display: inline-block; /* Exibe como bloco inline */
font-size: 16px; /* Tamanho da fonte */
transition-duration: 0.4s; /* Duração da transição */
box-shadow: 0px 8px 16px rgba(0,0,0,0.2); /* Sombra */
}
.botao1{
    background-color: #4CAF50; /* Cor de fundo */
color: white; /* Cor do texto */
padding: 10px 20px; /* Espaçamento interno */
border: none; /* Remove a borda padrão */
border-radius: 5px; /* Borda arredondada */
cursor: pointer; /* Cursor ao passar por cima */
position: relative;
left: 20%; 
/* Centraliza o texto */
text-decoration: none; /* Remove sublinhado */
display: inline-block; /* Exibe como bloco inline */
font-size: 16px; /* Tamanho da fonte */
transition-duration: 0.4s; /* Duração da transição */
box-shadow: 0px 8px 16px rgba(0,0,0,0.2); /* Sombra */

}
.oi{
    color:white
}

