header{
    background-color: rgb(1, 92, 1);
    
}
nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.logo {
    font-size: 50px;
    color: white;
    font-family: "Acme", sans-serif;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    color: white;
}


nav, .nav-links {
    display: flex;
    color: white;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-decoration-color: white;
    font-family: "Acme", sans-serif;
}
.navbar-list li a:hover {
    background-color: aliceblue;
    color: red;
}
.log{
    width: 150px;
}
body{
    padding;0 ;
    margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #fcfbff;
  display: flex;
  justify-content: center;
}


main {
  height: 100vh;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

span {
  font-size: x-large;
}

img {
  box-shadow: 0 1px 2px #0003;
  width: 100%;
}

.swiper {
  height: 500px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 450px) {
  .swiper {
    height: 270px;
  }
}
