body {
    font-family: Arial, sans-serif;
    background-color: #a8e6cf; /* Fundo verde bonito */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: rgba(1, 92, 1, 0.9); /* Cor do cabeçalho com transparência */
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

#desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: white;
    font-family: "Acme", sans-serif;
    margin-left: 10px;
}

/* CSS para o menu */
.nav-links {
    font-family: "Acme", sans-serif; /* Aplica a fonte Acme */
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    gap: 2rem;
    margin-left: auto; /* Move os links para a direita */
}


.nav-links li {
    display: inline;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.log {
    width: 40px;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9); /* Container com fundo branco e transparência */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    margin-top: 20px;
    font-family: "Arial", sans-serif;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:active {
    background-color: #45a049;
}

#confirmation-message {
    margin-top: 20px;
    color: green;
    font-weight: bold;
}

footer {
    background-color: rgba(1, 92, 1, 0.9); /* Rodapé com cor e transparência */
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 5px;
}

.icon {
    width: 30px;
    height: 30px;
}
