body {
    font-family: Arial, sans-serif;
    background-color: #f5f5dc; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: rgb(1, 92, 1);
    padding: 0 20px;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 17vh;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 50px;
    color: white;
    font-family: "Acme", sans-serif;
    margin-left: 20px;
}

.nav-links {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    gap: 2rem;
    margin-left: auto; /* Move os links para a direita */
}

.nav-links li {
    display: inline;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Acme", sans-serif;
}

.navbar-list li a:hover {
    background-color: aliceblue;
    color: red;
}

.log {
    width: 150px; /* Ajuste o tamanho do logotipo */
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8); /* Transparente */
    padding: 40px; /* Aumenta o padding */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px; /* Aumenta a largura */
    text-align: center;
    margin-top: 20px;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:active {
    background-color: #45a049;
}

#confirmation-message {
    margin-top: 20px;
    color: green;
    font-weight: bold;
}

footer {
    background-color: rgb(1, 92, 1);
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    margin:0;
    padding:0;
}

.social-icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 0.5rem;
}

.icon {
    width: 30px;
    height: 30px;
}
